@import "mixins.scss";

$colorbaltimore:#241773;
$colortampa:#d50a0a;
$colorcardinals:#a71930;
$colordolphins:#008e97;
$coloreagles:#004c54;
$colorjaguars:#9f792c;
  
*{
    border:red 2px solid;
}
body{
    height: 80%;
}

header{
@include cabecera();
}
.total{
    @include principal();
}
footer{
    @include footer();
}
main{
    min-height: 2000px;
}
.izquierdo{
    background-color: $coloreagles;
    min-height: 2000px;
}